header{
background-color: black;
color: aliceblue;
text-align: center;
padding: 20px;
font-size: 30px;
}
nav a {
color: beige;
text-decoration: none;
font-size: 50px;
margin: 20px;

}
nav a:hover{
color: burlywood;
}
img{
width: 400px;
border-radius: 6px;
margin: 10px;
border: 2px solid;
}
p{
font-size: 30px;

}
button{
background-color: azure;
border: 1px solid;
margin: 10px;
padding: 10px;
font-size: 20px;
}
footer{
background-color: black;
color: aliceblue;
padding: 5px;
text-align:center;


}
.section3{
background-color: cadetblue;
border: 1px solid;
margin-top: 10px;
padding-left: 20px;
}
.section4 {
background-color: darkgrey;
border: 1px solid;
margin-left: 20 px;
padding-left: 10px;
margin-top: 10px;
}
.input
{
    margin-bottom: 12px;
width: 1340px;
height: 30px;



}
.section6{
background-color: burlywood;





}







